body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    /* background-color: rgb(180, 82, 195); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 1.2;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: lightgray url('resources/image 2 (1).png') 50% 50% / cover no-repeat;
}

.header{
    position: absolute;
    top: 0%;
    height: 24px; 
    width: 100%;
    background: url(resources/Menu\ Bar\ Background.png) 50% 50% / cover no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header >.left > ul > li, .header > .right > ul > li{
    list-style: none;
    display: inline;
    cursor: pointer;
}

.header > .left > ul{
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-inline-start: 20px;
}

.header > .right > ul{
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline-end: 20px;
}

.wrapper{
    display: flex;
}

.leftt{
    width: 370px;
    height: 580px;
    background-color: #fff;
    border-right: 2px solid #000;
    border-radius: 20px 0px 0px 20px;
}

.rightt{
    width: 640px;
    height: 580px;
    background-color: #fff;
    border-radius: 0px 20px 20px 0px;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

.dropdown{
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdown > img, .lights > img{
    cursor: pointer;
}

.dropdown > img:nth-child(2){
    width: 18px;
    height: 18px;
}

.main-content{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.left-main{
    margin-top: 10px;
    width: 74px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4px;
    color: #677882;
    /* background-color: #ddd; */
}

.left-main >  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 6px;
}

.left-main > div > img{
    width: 20px;
    height: 18px;
    cursor: pointer;
}

.chat{
    position: relative;
}

.chat img{
    background-color: #ddd;
    padding: 8px 22px;
    border-radius: 20px;
}

.unread{
    position: absolute;
    top: 3px;
    cursor: pointer;
    left: 38px;
    background-color: #B3261E;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    font-size: 12px;
}

.right-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex: 4;
    height: 522px; /* Adjust this height as needed */
    overflow: hidden;
    /* height:100%; */
}

.input{
    position: relative;
}

.right-main > .input > input{
    width: 220px;
    padding: 8px 16px 8px 28px;
    border: none;
    color: #677882;
    font-size: 14px;
    border-radius: 10px;
    background-color: #F0F2F5;
}
.right-main > .input > input:focus{
    outline: none;
}

.search{
    position: absolute;
    cursor: pointer;
    left: 10px;
    top: 7px;
}

.filter{
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 22px;
}

.pers > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.pers{
    width: 276px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.msg{
    width: 100%;
    display: flex;
    gap: 8px;
    flex-direction: column;
    color: #829C99;
}

.upper, .lower{
    display: flex;
    justify-content: space-between;
}

.dark{
    color: #3B4A54;
    font-weight: 700;
}